# Virtual environment
.venv/                                                                                                                                                                                                        
                                                                                                                                                                                                            
# Python cache
__pycache__/
*.pyc
*.pyo                                                                                                                                                                                                        

# Jupyter checkpoints                                                                                                                                                                                        
.ipynb_checkpoints/  

# Data
data/online_retail.csv

# Artifacts — too large for GitHub                                                                                                                                                                           
artifacts/models/
artifacts/logs/                                                                                                                                                                                              
                                                                                                                                                                                                            
# Keep metrics visible on GitHub                                                                                                                                                                             
!artifacts/metrics/
                                                                                                                                                                                                            
# Mac system files                                                                                                                                                                                           
.DS_Store
                                                                                                                                                                                                            
# VS Code settings                                                                                                                                                                                         
.vscode/